@using Webdiyer.WebControls.Mvc
@model   Webdiyer.WebControls.Mvc.PagedList<WallPaperManagement.Models.WallPaper>
@{
    ViewBag.Title = "当前库存总量:"+"("+ViewBag.Total+")";
}


@section Scripts
{
    <script>

        $(document).ready(function () {
           
        });
    </script>
   
}
<style>

</style>
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("添加新产品", "Create", "WallPaper", null, new { @class = "btn btn-primary" })
</p>

@using(Html.BeginForm("Search","WallPaper"))
            {
                <label>商品型号</label> <input type="text"  name="seriesName"/>
                <label>商品系列</label> <input type="text"  name="Name"/>
                <input type="submit" value="搜索" class="btn btn-primary"/>
             }
@Html.Pager(Model,new PagerOptions{PageIndexParameterName="id",CssClass = "diggpager"})
<table id="paperList" class="table table-striped table-hover ">
    <tr>
        <th>
            编号
        </th>
        <th>
            系列
        </th>
        <th>
            型号
        </th>
        <th>
            批次
        </th>
        <th>
            添加日期
        </th>
        <th>
            库存量
        </th>
        <th>
            操作
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @string.Format("{0:D8}",item.WallPaperId)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeriesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @if (this.User.Identity.Name == "admin")
                {
                    @Html.ActionLink("编辑", "Edit", new { id = item.WallPaperId }, new { @class = "btn " }) 
                  @*  @Html.ActionLink("删除", "Delete", new { id = item.WallPaperId }, new { @class = "btn " }) *@
                }
               
            </td>
        </tr>
    }

</table>
@Html.Pager(Model,new PagerOptions{PageIndexParameterName="id",CssClass = "diggpager"})