@model IEnumerable<WallPaperManagement.Models.SystemUser>

@{
    ViewBag.Title = "用户列表";
}

<h2>用户列表</h2>

<p>
    @Html.ActionLink("添加新用户", "Create","User",new {@class="btn btn-primary"})
</p>
<table  class="table table-striped table-hover ">
    <tr>
        <th>
            用户名
        </th>
        <th>
            用户密码
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
       
        <td>
            @Html.ActionLink("编辑", "Edit", "User",new { id=item.SystemUserId },new {@class="btn"}) 
           @* @if(item.UserName!="admin")
            {
            @Html.ActionLink("删除", "Delete", new { id=item.SystemUserId },new {@class="btn"})
            }*@
        </td>
    </tr>
}

</table>
