@model WallPaperManagement.Models.OrderInfo

@{
    ViewBag.Title = "添加新订单";
}

<h2>添加新订单</h2>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.2.0.js")" type="text/javascript"></script>
    <script>
        function orderViewModel() {
            var self = this;
            self.price = ko.observable(0);
            self.count = ko.observable(0);
            self.total = ko.computed(function() {
                return self.price() * self.count();
            });
        }

        ;
        $(document).ready(function() {
            ko.applyBindings(new orderViewModel());
        });

        function setClient(item) {
            $("#clientName").text($(item).parent().parent().children().eq(1).text());
            $("#clientName").next().val(parseInt($(item).parent().parent().children().eq(0).text()));
        }

        ;

        function setWallPaper(item) {
            var allWallPaperInfo = $(item).parent().parent().children();
            var name = allWallPaperInfo.eq(1).text() + "-" + allWallPaperInfo.eq(2).text() + "-" + allWallPaperInfo.eq(3).text();
            $("#prductSeries").text(name);
            $("#prductSeries").next().val(parseInt(allWallPaperInfo.eq(0).text()));
        }

        ;

        function hiddenClient() {
            $("#clientList").fadeToggle();
        }

        ;

        function hiddenWallPaper() {
            $("#wallPaperList").fadeToggle();
        }
        $(document).ready(function() {

            $("#clientList  input[type='button']").bind("click", function() {
                alert('Test');
            });

        });
    </script>
}
<label>
    客户姓名
</label>
 @using(Ajax.BeginForm("Search","Client",new AjaxOptions{UpdateTargetId = "clientList",InsertionMode = InsertionMode.Replace}))
            {
                <input type="text"  name="clientName"/>
                <input type="submit" value="搜索" class="btn btn-primary"/>
             }
 <input type="button" onclick="hiddenClient()" value="显示/隐藏" class="btn"/> 
  <div id="clientList">
  </div> 
<label>
    商品型号
</label>
@using(Ajax.BeginForm("Search","WallPaper",new AjaxOptions{UpdateTargetId = "wallPaperList",InsertionMode = InsertionMode.Replace}))
            {
                <input type="text"  name="seriesName"/>
                <input type="submit" value="搜索" class="btn btn-primary"/>
             }
<input type="button" onclick="hiddenWallPaper()" value="显示/隐藏" class="btn"/> 
 <div id="wallPaperList">
                
            </div>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>订单信息</legend>
         <div class="editor-label">
             <label >客户姓名</label>
             <label id="clientName"></label>
             <input type="hidden" name="Id" value="0"/>
        </div>
        <div class="editor-label">
            <label>商品型号</label>
            <label id="prductSeries"></label>
            <input type="hidden" name="Id" value="0"/>
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.PriceDecimal)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PriceDecimal,new {data_bind="value: price,valueUpdate: 'afterkeydown'"})
            @Html.ValidationMessageFor(model => model.PriceDecimal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderCount)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderCount,new {data_bind="value: count,valueUpdate: 'afterkeydown'"})
            @Html.ValidationMessageFor(model => model.OrderCount)
        </div>
        <label >总价：</label><label data-bind="text: total"></label>
        <select name="PayStatus">
            <option value="0">未付款</option>
            <option value="1">转帐</option>
            <option value="2">现金</option>
        </select>
        <p>
            <input type="submit" value="确定" class="btn btn-primary"/>  
            @Html.ActionLink("返回订单列表", "Index","Order",null,new {@class="btn"})
        </p>
    </fieldset>
}

