@using Webdiyer.WebControls.Mvc
@model PagedList<WallPaperManagement.Models.ClientInfo>

@{
    ViewBag.Title = "客户列表";
}

<h2>客户列表</h2>

<p>
    @Html.ActionLink("添加新客户", "Create","Client",new {@class="btn btn-primary"})
</p>
@using(Html.BeginForm("Search","Client"))
            {
               <label>客户姓名</label> <input type="text"  name="clientName"/>
                <input type="submit" value="搜索" class="btn btn-primary"/>
             }
@Html.Pager(Model,new PagerOptions{PageIndexParameterName="id",CssClass = "diggpager"})
<table  class="table table-striped table-hover ">
    <tr>
        <th>
            编号
        </th> 
        <th>
            客户姓名
        </th>
        <th>
            客户电话
        </th>
        <th>
            客户手机
        </th>
        <th>
            客户地址
        </th>
        <th>
            添加日期
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @string.Format("{0:D8}",item.ClientInfoId)
        </td> 
        <td>
            
            @Html.ActionLink(item.Name??"NoName","Details","Client",new {id=item.ClientInfoId},null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddDate)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ClientInfoId },new {@class="btn"}) 
        </td>
    </tr>
}

</table>
@Html.Pager(Model,new PagerOptions{PageIndexParameterName="id",CssClass = "diggpager"})